<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LastWeekChat</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/static/modal.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>

    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Welcome to LastWeekChat</h4>
            <h5>Please set your username</h5>
            <input placeholder="Anonymus" id="user_name" type="text" class="validate">
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn" id="accept_username">Accept</a>
        </div>
    </div>

</body>
</html>
